body {
  font-family: "Nunito", sans-serif;
  background-color: rgb(175, 233, 233);
}

header {
  color: antiquewhite;
  font-size: 50px;
  text-align: center;
}

.container {
  margin-top: 20px;
}

.hide {
  display: none;
}

.good {
  background-color: #77dd77;
  color: white;
  border-radius: 3px;
}

.bad {
  background-color: #ff6961;
  color: white;
  border-radius: 3px;
}

.average {
  background-color: rgb(223, 185, 60);
  color: white;
  border-radius: 3px;
}

.icon-size {
  width: 50%;
}
