body {
  font-family: "Nunito", sans-serif;
  background-color: rgb(175, 233, 233);
}

header {
  color: antiquewhite;
  font-size: 50px;
  text-align: center;
}

.container {
  margin-top: 20px;
}

/* 
.city-search {
  padding-bottom: 500px;
} */
